<div class="container">
  <h1>New dose for <%= @cocktail.name %></h1>
  <%= simple_form_for([@cocktail, @dose]) do |f| %>
    <%= f.input :description %>
    <%= f.association :cocktail %>
    <%= f.association :ingredient %>
    <%= f.submit class: "btn btn-success" %>
  <% end %>
</div>
